form {
    background-color: rgb(241, 246, 247);
    padding: 10px;
    text-align: left;
    margin: auto;
    display: table;
}
body {
    
    background-image: url("https://images.adsttc.com/media/images/57d8/b012/e58e/ce72/2b00/0021/large_jpg/cosmindragomir_Carturesti-Carusel_XL_0011.jpg?1473818635.jpg");
    background-size: 90rem;
    
  }