
    
      form {
        background-color: rgb(241, 246, 247);
        padding: 10px;
        text-align: center;
        margin: auto;
        display: table;
         align-items: center;
           justify-content: center;

    }
    body {
        
        background-image: url("https://images.adsttc.com/media/images/57d8/b012/e58e/ce72/2b00/0021/large_jpg/cosmindragomir_Carturesti-Carusel_XL_0011.jpg");
        background-size: 90rem;
        
      }
      /*"https://ep01.epimg.net/elviajero/imagenes/2019/09/24/album/1569338430_242289_1569342216_noticia_normal.jpg");*/