form {
  background-color: rgb(241, 246, 247);
  padding: 100px;
  text-align: left;
  margin: auto;
  display: table;
}
body {
  
  background-image: url("https://img.itinari.com/pages/images/original/7893eefd-2e12-4f4f-9702-bdf5e4c56b90-52188034_290514154962406_4572698744855724032_n.jpg?ch=DPR&dpr=1&w=1600&s=65afd54f9b27d1ffb2478342dbd7dab7.jpg");
  background-size: 90rem;
  
}